*, *:before, *:after { 
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	margin: 0; 
	padding: 0;
	height: 100%;
	font-family: 'Merriweather', Georgia, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering:optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alice', Georgia, serif;
} 



li {

}

.human2 {
	width: 50%;
	float: left;
	padding: 10%;
} 
.tree98 {
	width: 50%;
	height: 100%;
	float: left;
	background: #CCC url("../images/tree98.jpg");
	background-size: cover;
}


@media screen and (max-width:766px) {

	.tree98 {
		width: 33%;
		background: #666;
		background-position: center center;
		-webkit-transition: 0.2s width;
		-moz-transition: 0.2s width;
		transition: 0.2s width;
		
	}

	.human2 {
		width: 67%;
		-webkit-transition: 0.2s width;
		-moz-transition: 0.2s width;
		transition: 0.2s width;
		
	}
}